[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi = "*"
uvicorn = "*"
nylas = "*"
python-dotenv = "*"
sqlalchemy = "*"
databases = "*"
aiosqlite = "*"
jinja2 = "*"
python-multipart = "*"
itsdangerous = "*"
google-generativeai = "*"

[dev-packages]

[requires]
python_version = "3.10"
