:root {
  --primary-color: #2979ae; 
  --secondary-color: #ecf0f1; 
  --background-color: #f5f5f5; 
  --sidebar-width: 110px;
  --sidebar-height: 60px;
  --padding: 20px;
  --font-family: "Roboto", sans-serif;
  --accent-color: #be3f31; 
}

body.dark-mode {
  --primary-color: #3498db; 
  --secondary-color: #2c3e50; 
  --background-color: #2c3e50; 
  --accent-color: #e74c3c; 
}

html {
  scrollbar-width: thin;
  scrollbar-color: var(--secondary-color) var(--primary-color);
}

body {
  font-family: var(--font-family);
  background-color: var(--background-color);
  display: flex;
  flex-direction: column;
  width: 100%;
  font-size: 80%;
  margin: 0;
  padding: 0;
}

.container {
  display: flex;
  width: 100%;
}

.hidden {
  display: none;
}

.visible {
  display: block;
}

/*======================
  Header Styles
======================*/

header {
  margin-top: var(--padding);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

header h1 {
  color: var(--primary-color);
  margin: 0;
}

/*======================
  Font Styles
======================*/

@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");

.display-4,
.display-5,
.lead,
p,
.list-group-item {
  font-family: var(--font-family);
}

.error h1 {
  font-size: 36px;
  font-weight: bold;
}

.error p {
  font-size: 18px;
}

/*======================
  Main Content Styles
======================*/

.error {
  color: red;
  margin: 0;
  height: 100vh;
}

.main-content {
  padding: var(--padding);
  margin-right: 0;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 8px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  box-sizing: border-box;
  width: auto;
  width: 100%;
  height: 100%;
  overflow: hidden;
  margin-left: 20%;
}

header {
  margin-top: var(--padding);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

section {
  margin-top: var(--padding);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex: 1;
  overflow: auto;
  padding: var(--padding);
  box-sizing: border-box;
  border-bottom: 1px solid var(--primary-color);
  box-shadow: var(--primary-color);
  border-radius: 10px;
}

section h2,
section p {
  color: var(--primary-color);
  margin: 0;
}

/*======================
  Sidebar Styles
======================*/

.sidebar {
  width: var(--sidebar-width);
  background-color: var(--primary-color);
  color: var(--secondary-color);
  padding: var(--padding);
  z-index: 100;
  position: fixed;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.sidebar ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.sidebar ul li {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.sidebar ul li:hover {
  color: var(--accent-color);
}

.sidebar ul li a {
  color: var(--secondary-color);
  text-decoration: none;
  transition: color 0.3s;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}

.sidebar ul li i {
  width: 3rem;
  height: 3rem;
  font-size: 3em;
}

/* Custom styles for toggle icons */
.sidebar ul li i.fa-toggle-on {
  color: green;
  transition: transform 0.3s;
}

.sidebar ul li i.fa-toggle-off {
  color: red;
  transition: transform 0.3s;
}

/*======================
  Button Styles
======================*/

/* Buttons */

.button,
.btn-primary {
  background-color: var(--primary-color);
  color: var(--secondary-color);
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  position: relative;
  text-decoration: none;
  overflow: hidden;
  transition: background-color 0.3s ease, color 0.3s ease;
  margin: 20px;
}

.button:hover,
.btn-primary:hover {
  background-color: var(--secondary-color);
  color: var(--primary-color);
}

.button::before,
.button::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(
    45deg,
    rgba(255, 255, 255, 0.3),
    rgba(255, 255, 255, 0)
  );
  transition: opacity 0.3s ease;
  opacity: 0;
  pointer-events: none;
}

.button::before {
  transform: translateX(-100%) translateY(-100%);
}

.button::after {
  transform: translateX(100%) translateY(100%);
}

.button:hover::before,
.button:hover::after {
  opacity: 1;
  transform: translateX(0) translateY(0);
}

.button:active {
  background-color: var(--primary-color);
  color: var(--secondary-color);
  box-shadow: 0 0 10px var(--primary-color);
}

/*======================
  Footer Styles
======================*/

.footer {
  background-color: var(--primary-color);
  color: var(--secondary-color);
  text-align: center;
  padding: var(--padding);
  min-width: 100%;
  margin: 0;
}

/*======================
  Responsive Styles
======================*/

@media (max-width: 768px) {
  body {
    font-size: 60%;
    margin: 0;
  }
  .main-content {
    margin-left: 0;
    margin-right: 0;
    margin: 0;
    padding: 0;
  }

  section {
    width: 100%;
    margin: 0;
    padding: var(--padding);
  }

  .container {
    margin: 0;
    flex-direction: column;
  }

  .sidebar {
    width: 100%;
    height: var(--sidebar-height);
    position: fixed;
    bottom: 0;
    left: 0;
    display: flex;
    justify-content: space-around;
  }

  .sidebar ul {
    flex-direction: row;
    height: auto;
    justify-content: space-evenly;
    align-items: center;
  }

  .sidebar ul li {
    margin: 0;
  }

  .sidebar ul li a {
    display: none;
  }

  .footer {
    margin-bottom: var(--sidebar-height);
    padding: var(--padding);
  }
}

/*======================
  Dashboard Styles  
======================*/

/* Profile Section */
.profile {
  display: flex;
  align-items: center;
  background-color: var(--primary-color);
  color: var(--secondary-color);
  border-radius: 8px;
  margin-bottom: var(--padding);
}

.profile img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-right: 15px;
  border: 2px solid var(--secondary-color);
}

/* Dashboard Statistics */

.stats,
.tasks {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.stat,
.tasks {
  flex: 1;
  margin-right: 20px;
}

.stat {
  margin-top: 20px;
}

.stat:last-child,
.tasks:last-child {
  margin-right: 0;
}

.tab {
  display: flex;
  justify-content: space-around;
  margin-bottom: 20px;
  overflow: hidden;
}

.tabcontent {
  display: none;
  padding: 6px 12px;
  border: 1px solid var(--background-color);
  border-top: none;
}

.tab button {
  background-color: inherit;
  flex: 1;
  padding: 10px;
  border: none;
  border-radius: 8px;
  font-size: 14px;
  color: var(--secondary-color);
  transition: background-color 0.3s ease, color 0.3s ease;
  cursor: pointer;
  outline: none;
}

.tab button.active,
.tab button:hover {
  background-color: #007bff;
  color: #fff;
}

.tabcontent {
  display: none;
  padding: 10px;
  background-color: #f4f4f9;
  border-radius: 8px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.tabcontent.show {
  display: block;
}

/* notification styles */

.notifications {
  margin-top: 20px;
}

.notifications ul {
  list-style-type: none;
  padding: 0;
}

.notifications li {
  background-color: var(--secondary-color);
  border: 1px solid var(--primary-color);
  padding: 10px;
  margin-bottom: 10px;
}

/* Event List */
.event {
  display: flex;
  flex-direction: column;
}

.list-group {
  padding: 0;
  list-style: none;
}

.list-group-item {
  padding: 10px;
  background-color: var(--secondary-color);
  margin-bottom: 5px;
  border-radius: 8px;
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s ease;
}

.list-group-item:hover {
  background-color: var(--primary-color);
}

/* Quote Section */
.quote {
  margin-top: 20px;
  padding: 10px;
  background-color: var(--secondary-color);
  border-left: 5px solid var(--primary-color);
  border-radius: 8px;
  font-style: italic;
  text-align: center;
}

/* Calendar Section */

.dashboard,
.calendar {
  background-color: var(--secondary-color);
  padding: 20px;
  margin-top: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.calendar h3 {
  font-size: 20px;
  margin-bottom: 10px;
}

.days {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.day {
  flex: 1;
  padding: 15px;
  background-color: var(--secondary-color);
  border-radius: 8px;
  text-align: center;
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s ease, transform 0.3s ease;
  cursor: pointer;
}

.day:hover {
  background-color: var(--primary-color);
  color: var(--secondary-color);
  transform: scale(1.05);
}

/* Form Controls */

input[type="text"] {
  padding: 5px 10px;
  border: 1px solid var(--background-color);
  border-radius: 4px;
}

.form-control {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid var(--background-color);
  border-radius: 8px;
}

textarea.form-control {
  height: 100px;
}

/* Messages Section */
.messages {
  margin-top: 20px;
}

.message {
  display: flex;
  align-items: center;
  padding: 10px;
  margin-bottom: 10px;
  background-color: var(--secondary-color);
  border-radius: 8px;
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.1);
}

.message img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-right: 10px;
}

.message .content {
  flex: 1;
}

.message .content h3 {
  margin: 0;
  font-size: 16px;
  color: var(--primary-color);
}

.message .content p {
  margin: 5px 0 0;
  color: var(--background-color);
}

/* Settings Section */
.settings h2 {
  color: var(--primary-color);
}

.settings .account {
  background-color: var(--secondary-color);
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  margin-top: 20px;
}

.settings .account img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  border: 2px solid var(--primary-color);
  margin-bottom: 15px;
}

.settings .account button {
  background-color: var(--primary-color);
  color: var(--secondary-color);
  padding: 10px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.settings .account button:hover {
  background-color: var(--primary-color);
}

.settings .account button a {
  color: var(--secondary-color);
  text-decoration: none;
}
